@import url('generales.css');
/*-- desktop --*/
body{
  background-color: #fff;
}

.disfruta{
  text-align: center;
  padding: 2%;
  font-size: 3em;
}

.card{
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.btn{
  background-color: #303c42;
  border: none;
}
